<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">MVC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/load">Load</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/store">Store</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/addRegister">Add Register</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/addImmediate">Add Immediate</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/showData/all">Data</a>
      </li>
    </ul>
  </div>
</nav>