<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>DATA</title>
        <link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
        <script src="js/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="js/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    </head>
    <body>
        <%- include('./component/navbar') %>
        <div class="container">
            <h2>ข้อมูลทั้งหมด</h2>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/showData/all">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/showData/00">Load</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/showData/01">Store</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/showData/10">Add Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/showData/11">Add Immediate</a>
                </li>
            </ul>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Command</th>
                        <th>Binary</th>
                    </tr>
                </thead>
                <tbody>
                    <% Object.values(data).forEach(function(item) { %>
                    <tr>
                        <!-- check command type -->
                        <% if (item.commandType === '00') { %>
                            <td>Load</td>
                        <% } else if (item.commandType === '01') { %>
                            <td>Store</td>
                        <% } else if (item.commandType === '10') { %>
                            <td>Add Register</td>
                        <% } else if (item.commandType === '11') { %>
                            <td>Add Immediate</td>
                        <% } %>
                        <td><%= item.binary%></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </body>
</html>
